<template name="Landing">
  <body class="yin">
  	<nav class="blue-grey lighten-2">
		<div class="nav-wrapper">
			<ul class="right">
				{{> loginButtons align="right"}}
			</ul>
		</div>
	</nav>

		<div class="text-options">
			<div class="options">
				<span class="no-overflow">
					<span class="lengthen ui-inputs">
						<button class="url useicons">&#xe005;</button>
						<input class="url-input" type="text" placeholder="Type or Paste URL here"/>
						<button class="bold">b</button>
						<button class="italic">i</button>
						<button class="quote">&rdquo;</button>
					</span>
				</span>
			</div>
		</div>

		<section>
				<header  id="headerJaun" contenteditable="true" class="header">
					Welcome to Typo
				</header>

				<article contenteditable="true" class="content">
					<p id="focusJaun" class="p1">Typo is a place to write freely, so begin typing!<br></p><p class="p1"><span class="s1">I know, you're probably feeling a bit&nbsp;<b>bold.</b>&nbsp;Or&nbsp;<i>are</i>&nbsp;you?<i>&nbsp;</i>&nbsp;By highlighting text (or using familiar keyboard shortcuts), you can make your story come to life with&nbsp;<b>bold,</b>&nbsp;<i>italics,&nbsp;</i>or even by creating&nbsp;<span class="s2"><b><a href="http://www.typo.space/">links</a>.</b></span></span></p><p class="p1"><br></p><blockquote>The power is yours --&nbsp;</blockquote><p>-- he said, after wielding his trustworthy Typo. You can quote things, too.</p><p class="content-block"><br></p><p class="content-block">And one more thing...<br>After you sign up...<br>And you tell a friend,</p><p></p><blockquote>Hey, come look at what I'm writing!</blockquote><p>They can see what you're typing...the very moment your fingers touch the keyboard.</p>
				</article>

		</section>

		<!-- JS -->
		<script type="text/javascript">
	        // Initiate ZenPen
	        ZenPen.editor.init();
	        // ZenPen.ui.init();
	        $(document).ready(function() {
	        	$('#headerJaun').focus();
	        });
        </script>
	</body>
</template>
