<template name="Landing">
  <body class="yin">
  	<nav class="deep-orange lighten-2">
		<div class="nav-wrapper">
			<ul class="right">
				{{> loginButtons align="right"}}
			</ul>
		</div>
	</nav>

		<div class="text-options">
			<div class="options">
				<span class="no-overflow">
					<span class="lengthen ui-inputs">
						<button class="url useicons">&#xe005;</button>
						<input class="url-input" type="text" placeholder="Type or Paste URL here"/>
						<button class="bold">b</button>
						<button class="italic">i</button>
						<button class="quote">&rdquo;</button>
					</span>
				</span>
			</div>
		</div>

		<section>
				<header  id="headerJaun" contenteditable="true" class="header">
					Welcome to Typo
				</header>

				<article contenteditable="true" class="content">

					<p id="focusJaun" class="p1">Typo is a place to write freely, so begin typing!<br></p><p class="p1"><span class="s1">You can use&nbsp;<b>bold</b>,&nbsp;<i>italics</i>, and&nbsp;create&nbsp;<a href="http://www.typo.space/"><span class="s2"><b>links</b></span></a>&nbsp;by simply highlighting text.</span></p><blockquote><span class="s1">Quotes are easy to add too!</span></blockquote><p class="p1"></p><p class="p1"><span class="s1">To get started, click the button on the top right to register.</span></p>

				</article>

		</section>

		<!-- JS -->
		<script type="text/javascript">
	        // Initiate ZenPen
	        ZenPen.editor.init();
	        // ZenPen.ui.init();
	        $(document).ready(function() {
	        	$('#headerJaun').focus();
	        });
        </script>
	</body>
</template>
